a{
    text-decoration:none;
    outline:none;
}
img{
    border:none;
}
.floatLeft{
    float:left !important;
}
.floatRight{
    float:right !important;
}
.floatCenter{
    margin-left:auto !important;
    margin-right:auto !important;
}
.clearLeft{
    clear:left !important;
}
.clearRight{
    clear:right !important;
}
.clearBoth{
    clear:both !important;
}
.block{
    display:block !important;
}
.hide{
    display:none !important;
}
.spc{
    width:0px;
    height:20px;
    margin:5px 10px;
    border-right:1px solid #f8f8f8;
    border-left:1px solid #999;
}
.round{
    -moz-border-radius: 5px; /* For Mozilla Firefox */
    -khtml-border-radius: 5px; /* For Konqueror */
    -webkit-border-radius: 5px; /* For Safari */
    border-radius: 5px;
}
.round3{
    -moz-border-radius: 3px; /* For Mozilla Firefox */
    -khtml-border-radius: 3px; /* For Konqueror */
    -webkit-border-radius: 3px; /* For Safari */
    border-radius: 3px;
}
.round2{
    -moz-border-radius: 2px; /* For Mozilla Firefox */
    -khtml-border-radius: 2px; /* For Konqueror */
    -webkit-border-radius: 2px; /* For Safari */
    border-radius: 2px;
}
html{
	font:normal 8pt Arial, Helvetica, sans-serif;
}
.msg {
    /*background: url("../images/error.png") no-repeat scroll 98% center #e44716;
	border:1px solid #9a2704;
    border-radius: 10px 0 10px 0;
    box-shadow: 0 2px 5px #AAAAAA;
    color: #FFFFFF;
    font: bold 11pt/50px Arial,Helvetica,sans-serif;
    height: 45px;
    margin-bottom: 10px;
	width:440px;
	position:relative;
	z-index:1000;
	top:140px;
	left:50%;
	margin-left:-250px;
	padding-right:60px;
	direction:rtl;*/
}
.lightGray{
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ddd',GradientType=0 );
}
.blueHover{
	background: #5f9bfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #5f9bfc 0%, #4787ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f9bfc), color-stop(100%,#4787ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* IE10+ */
	background: linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9bfc', endColorstr='#4787ed',GradientType=0 ); /* IE6-9 */
}
.blueHover:hover{
	background: #488cf9; /* Old browsers */
	background: -moz-linear-gradient(top,  #488cf9 0%, #2e79ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#488cf9), color-stop(100%,#2e79ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* IE10+ */
	background: linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#488cf9', endColorstr='#2e79ea',GradientType=0 ); /* IE6-9 */

}
.btn{
	display:inline-block;
	font:bold 11pt/22px Arial, Helvetica, sans-serif;
	padding:0px 10px;
	cursor:pointer;
	border:1px solid #2E79EA;
	color:#f5f5f5;
	margin-right:5px;
}
.btn:hover{
	border-color:#1266E5;
	box-shadow:0px 1px 1px #aaa;
	color:#fff;
}
.date,.time,.email,.tel,.mob{
	background-image:url(../images/icons/16x16_date.png) !important;
	background-repeat:no-repeat !important;
	background-position:4px center !important;
}
.time{
	background-image:url(../images/icons/time_16x16.png) !important;
}
.email,.tel,.mob{
	background-position:98% center !important;
	padding-right:25px !important;
}
.email{
	background-image:url(../images/icons/16x16_email.png) !important;
}
.tel{
	background-image:url(../images/icons/16x16_telephone.png) !important;
}
.mob{
	background-image:url(../images/icons/16x16_mobile.png) !important;
}

/*--
	Dialog
--*/
.ui-dialog .ui-dialog-content .ui-icon{
	width:32px !important;
	height:32px !important;
	background:url(../images/icons/msgIcon_32x32.png) no-repeat !important;
}
.done .ui-dialog-content .ui-icon{
	background-position:0px 0px !important;
}
.confirm .ui-dialog-content .ui-icon{
	background-position:0px -32px !important;
}
.error .ui-dialog-content .ui-icon{
	background-position:0px -64px !important;
}
.ui-dialog .ui-dialog-content p{
	margin:0px;
	display: block;
    float: right;
    line-height: 20px;
    max-width: 400px;
}

fieldset{
    border:1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
	direction:rtl;
}

legend{
	padding: 5px 10px;
	border:1px solid #ccc;
	background:#f5f5f5;
	box-shadow:inset 0px 0px 0px 1px #fff;
	font:normal 9pt Tahoma, Geneva, sans-serif;
}
fieldset .widthControls{
	padding-left:40px;
	position:relative;
}
fieldset .widthControls img{
	position:absolute;
	left:0px;
	margin-left:5px;
	top:50%;
	margin-top:-8px;
	cursor:pointer;
}
#ajaxLoader{
	width:170px;
	background:#ffdba1 url(../images/loader.gif) no-repeat 90%;
	border:1px solid #e0a84e;
	border-top:none;
	padding:10px 50px 10px 10px;
	box-shadow:0px 1px 3px #aaa;
	position:fixed;
	top:-50px;
	left:50%;
	margin-left:-116px;
	z-index:100;
	font:bold 11pt Arial, Helvetica, sans-serif;
	color:#c05217;
	direction:rtl !important;
	white-space:nowrap;
	
	-moz-border-radius: 0 0 3px 3px;
    -khtml-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.innerHeading{
	padding:5px;
	margin-bottom:10px;
	line-height:29px !important;
	border:1px solid #ccc;
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f8f8 0%,#ddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ddd',GradientType=0 );
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.link{
	color:#06C;
}
.link:hover{
	color:#D0340D;
}
.togglink{
	background:no-repeat center;
	width:12px;
	height:22px;
	display:block;
	font:bold 11pt Arial, Helvetica, sans-serif;
}
.expand{
	background-image:url(../images/icons/expand.png);
}
.collapse{
	background-image:url(../images/icons/collapse.png);
}


/*--
	Filtered List
--*/

.normalList .listElement{
	background:#f8f8f8;
	border:1px solid #ddd;
	color:#555;
	cursor:pointer;
}
.normalList .listElement:hover,.normalList .listElementHover{
	background:#fff;
	border-color:#92CBE7;
	box-shadow:0px 0px 2px 0px #ddd;
	color:#555;
	
	background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd));
	background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
}

.normalList .active{
	background:#fff;
	border-color:#F0CE7C !important;
	box-shadow:0px 0px 2px 0px #ddd !important;
	color:#555 !important;
	
	background: -moz-linear-gradient(top,  #fff8dd 0%, #fdeeb3 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8dd), color-stop(100%,#fdeeb3)) !important;
	background: -webkit-linear-gradient(top,  #fff8dd 0%,#fdeeb3 100%) !important;
}

.filteredList{
	direction:rtl;
	text-align:right;
}
.filteredList .normalList{
	min-width:350px;
	max-height:350px;
	overflow:scroll;
	overflow-x:hidden;
	padding-left:10px;
	margin-bottom:10px;
}
.filteredList .filter{
	margin-bottom:10px;
}
.filteredList .filter input{
	width:325px;
	padding:5px 30px 5px 5px !important;
	background-image:url(../images/icons/filter_icon.png) !important;
	background-position:97% center !important;
	background-repeat:no-repeat;
}
.filteredList .listElement{
	display:block;
	padding:3px;
	direction:rtl;
	text-align:right;
	margin-bottom:2px;
}

/*--
	Popup Classes
--*/

.popupTabs ul.tabs{
	display:block;
	height:26px;
	width:100%;
}
.popupTabs ul.tabs li{
	float:right;
}
.popupTabs ul.tabs li a{
	display:inline-block;
	float:right;
	font:bold 11pt/25px Arial, Helvetica, sans-serif;
	height:25px;
	border:1px solid #ddd;
	border-bottom:none;
	padding:0px 10px;
	margin:0 0 0 4px;
	position:relative;	
	color:#555;
	
	-moz-border-radius:3px 3px 0 0;
    -khtml-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(top,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	
}

.popupTabs ul.tabs li a:hover{
	border-color:#bbb;	
}

.popupTabs ul.tabs li a.active{
	line-height:26px;
	height:26px;
	border-color:#aaa;
	background: #fff;
}
.popupTabs ul.tabs li.author a {
    background:url("../images/facebook.png") no-repeat !important;
}
.popupTabs ul.tabs li.author a:hover {
    background-position: 0px -40px !important;
}
.popupTabs ul.tabs li.send_direct a {
    background:url("../images/send_direct.png") no-repeat !important;
}
.popupTabs ul.tabs li.send_direct a:hover {
    background-position: 0px -40px !important;
}
.popupTabs ul.tabs li.opinion a {
    background:url("../images/opinion.png") no-repeat !important;
}
.popupTabs ul.tabs li.opinion a:hover {
    background-position: 0px -40px !important;
}
.popupTabs ul.tabs li.cover_rep a {
    background:url("../images/cover_rep.png") no-repeat !important;
}
.popupTabs ul.tabs li.cover_rep a:hover {
    background-position: 0px -40px !important;
}
.popupTabs ul.tabs li a.active{
    line-height:26px;
    height:26px;
    border-color:#aaa;
    background: #fff;
}
.popupTabs .tabConts{
	padding:10px;
	margin-bottom:10px;
	border:1px solid #aaa;
	box-shadow:0px 1px 2px 0px #ddd;
	
	-moz-border-radius:3px 0 3px 3px;
    -khtml-border-radius:3px 0 3px 3px;
    -webkit-border-radius:3px 0 3px 3px;
    border-radius:3px 0 3px 3px;
}

/*--
	pageTabs Classes
--*/

.pageTabs ul{
	display:block;
	height:29px;
	float:left;
	margin-top:5px;
}
.pageTabs ul li{
	float:right;
}
.pageTabs ul li a{
	display:inline-block;
	float:right;
	font:bold 11pt/30px Arial, Helvetica, sans-serif;
	height:30px;
	border:1px solid #2E79EA;
	border-bottom:none;
	padding:0px 10px;
	margin:0 0 0 4px;
	position:relative;	
	color:#fff;
	
	-moz-border-radius:3px 3px 0 0;
    -khtml-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0;
	
	background: #5f9bfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #5f9bfc 0%, #4787ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f9bfc), color-stop(100%,#4787ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* IE10+ */
	background: linear-gradient(top,  #5f9bfc 0%,#4787ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9bfc', endColorstr='#4787ed',GradientType=0 ); /* IE6-9 */
	
}

.pageTabs ul li a:hover{
	border-color:#1266E5;	
	background: #488cf9; /* Old browsers */
	background: -moz-linear-gradient(top,  #488cf9 0%, #2e79ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#488cf9), color-stop(100%,#2e79ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* IE10+ */
	background: linear-gradient(top,  #488cf9 0%,#2e79ea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#488cf9', endColorstr='#2e79ea',GradientType=0 ); /* IE6-9 */
}

.pageTabs ul li a.active{
	line-height:30px;
	height:30px;
	border-color:#a0a0a0;
	background: #fff;
	color:#555;
}
.pageTabs .tabConts{
	padding:10px;
	margin-bottom:10px;
	border:1px solid #aaa;
	box-shadow:0px 1px 2px 0px #ddd;
	
	
	-moz-border-radius:3px 0 3px 3px;
    -khtml-border-radius:3px 0 3px 3px;
    -webkit-border-radius:3px 0 3px 3px;
    border-radius:3px 0 3px 3px;
}

.filter_input{
	padding-left:25px !important;
	background-image:url(../images/icons/filter_icon.png) !important;
	background-position:5px center !important;
	background-repeat:no-repeat;
}


/*--
	my table
--*/

.myTable{
	border-spacing:1px;
	background:#ddd;
	width:100%;
}
.myTable th,.myTable td{
	padding:5px;
	background:#fff;
	font:normal 9pt Tahoma, Geneva, sans-serif;
	vertical-align:middle;
}
.myTable th{
	text-align:center;
	padding:8px 5px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
	
}
.hint {
    float: left;
    margin: 5px 0 0 20px;
}

.hint b {
    float: right;
    margin-left: 10px;
    font: bold 11pt Arial, Helvetica, sans-serif;
}

.hint span {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: right;
    margin-left: 10px;
    background: #FDD;
    border: 1px solid #FF7171;
    border-radius: 2px;
    margin-top:5px
}
