@import url("reset.css");
@import url("general.css");
@import url("forms.css");

html{
	height:100%;
	background: #5797cf;
	background: -moz-radial-gradient(center, ellipse cover,  #5797cf 0%, #204d7e 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#5797cf), color-stop(100%,#204d7e));
	background: -webkit-radial-gradient(center, ellipse cover,  #5797cf 0%,#204d7e 100%);
	background: -o-radial-gradient(center, ellipse cover,  #5797cf 0%,#204d7e 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #5797cf 0%,#204d7e 100%);
	background: radial-gradient(center, ellipse cover,  #5797cf 0%,#204d7e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5797cf', endColorstr='#204d7e',GradientType=1 );
}

body{
	width:542px;
	padding:150px 0 0 0;
	margin:0px auto;
}
form{
	width:100%;
	height:260px;
	background:url(../images/loginForm_bg.png) no-repeat center;
	overflow:hidden;
}
.loginFields{
	width:216px;
	margin:35px 0 0 50px;
	float:left;
}
.loginFields h1{
	font:bold 20pt Arial, Helvetica, sans-serif;
	margin-bottom:5px;
	width:233px;
	text-align:center;
}
.loginFields input[type=text],.loginFields input[type=password]{
	width:90%;
	padding:8px 30px 8px 8px !important;
	height:auto !important;
}
.loginFields .btn{
	padding:2px 10px;
}
.loginFields .showLoader span{
	background:url(../images/btn_loader.gif) no-repeat right;
}
.loginFields .username{
	background:url(../images/userIcon.png) no-repeat 98%;
}
.loginFields .password{
	background:url(../images/passIcon.png) no-repeat 98%;
}
.loginFields label{
	font:normal 8pt Tahoma, Geneva, sans-serif;
	color:#555;
	margin-top:12px;
	display:inline-block;
	float:right;
}
.loginFields label input{
	margin-left:10px;
}
.reset{
	width:100%;
	height:56px;
	background:url(../images/reset_bg.png) no-repeat center;
	overflow:hidden;
	margin-top:10px;
	text-align:center;
}
.reset label,.reset a{
	display:inline-block;
	margin-top:15px;
	font:normal 9pt Tahoma, Geneva, sans-serif;
}
.reset label{
	margin-left:10px;
	font:bold 11pt Arial, Helvetica, sans-serif;
	color:#666;
}
.reset a{
	color:#06C;
}
.reset a:hover{
	color:#F30;
}
.msg{
	height:51px;
	background:url(../images/login_msg.png) no-repeat center;
	overflow:hidden;
	margin-bottom:10px;
	font:bold 11pt/41px Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:0px 1px 1px #c10b0b;
	text-align:right;
	padding-right:70px;
	 
}

.tutorial{
    width:100%;
    height:56px;
    background:url(../images/reset_bg.png) no-repeat center;
    overflow:hidden;
    margin-top:10px;
    text-align:center;
}


.tutorial .show {
    height: 28px;
    overflow: hidden;
    width: 50px;
    margin: 8px 100px 0 0;
}
/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
    background: url(../images/select_arrow.png) no-repeat 96% 0;
    height: 30px;
    overflow: hidden;
    width: 270px;
    margin: 8px 0 0 90px;

}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 300px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* -------------------- Colors: Background */
.yellow  { background-color: #eec111; }
/* -------------------- Colors: Text */
.yellow select  { color: #000; }
/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */

