

.slide {
    margin: 10px;
    float: right;
}
#tabsSlide ,#tabs {
    width: 850px;
}
#tabsSlide #content, #tabs #content  {
    background-color: #FFF;
}
#tabsSlide #nav, #tabs #nav {
    float: right;
    width: 850px;
    border-bottom: 1px solid #5f5f5f;
}
#tabsSlide #nav li, #tabs #nav li {
    padding: 0;
    float: right;
    margin: 1px 0 -1px 3px;
    background: #333333 ;
}
#tabsSlide #nav li a, #tabs #nav li a {
    padding: 7px 10px;
    display: block;
    font: bold 15px arial;
    color: #FFFFFF;
    border: 1px solid #5f5f5f;
}
#tabsSlide #nav li a.current, #tabs #nav li a.current {
    border-bottom: 5px solid #800000;
    BACKGROUND:#CFCFCF;
    color: #333333;
}
#tabsSlide #content, #tabs #content {
    padding: 10px;
    clear: right;
    text-align: right;
    min-height: 240px;
    border: 1px solid #5f5f5f;
    border-top: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
#tabsSlide #content .tab-slide, #tabs #content .tab-slide { display: none; }
#tabsSlide #content .tab-slide .tab-list li, #tabs #content .tab-slide .tab-list li {
    margin: 1px 0;
    padding: 5px 0;
    border-bottom: 1px solid #7c7c7c;
    font: 13px tahoma;
    line-height: 22px;
}
#tabsSlide #content .tab-slide p, #tabs #content .tab-slide p {
    margin: 0 0 10px;
    padding: 0;
    font: 13px tahoma;
    line-height: 22px;
}
#tabsSlide #content .tab-slide a, #tabs #content .tab-slide a {
    color: #353433;
}
#tabsSlide #content .tab-slide a:hover, #tabs #content .tab-slide a:hover {
    color: #000000;
}

