.inbox .pagination-control, .inbox th.text-right {
    text-align: left
}

.inbox {
    margin: 10px
}

.inbox .compose-btn {
    padding: 8px 14px
}

.inbox .inbox-content {
    min-height: 400px
}

.inbox .inbox-nav {
    margin: 30px 0;
    padding: 0;
    list-style: none
}

.inbox .inbox-nav > li {
    padding: 0;
    margin: 0
}

.inbox .inbox-nav > li > a {
    text-decoration: none !important;
    display: block;
    padding: 8px 16px;
    border-right: 4px solid transparent
}

.inbox .inbox-nav > li > a:hover {
}

.inbox .inbox-nav > li > a .badge {
    float: left;
    margin-top: 1px
}

.inbox .inbox-nav > li.active > a {
    border-right: 4px solid #ed6b75;
    background: #f1f4f7;
}

.inbox .inbox-nav > li.divider {
    padding: 0;
    margin: 4px 16px;
    border-top: 1px solid #eef1f5
}

.inbox .inbox-contacts {
    margin: 0 0 30px;
    padding: 0;
    list-style: none
}

.inbox .inbox-contacts > li {
    padding: 0;
    margin: 0
}

.inbox .inbox-contacts > li.divider {
    padding: 0;
    margin: 4px 16px;
    border-top: 1px solid #eef1f5
}

.inbox .inbox-contacts > li > a {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: #3f444a
}

.inbox .inbox-contacts > li > a:hover {
    background: #f1f4f7;
    text-decoration: none
}

.inbox .inbox-contacts > li > a .contact-name {
    display: inline-block;
    padding-right: 5px
}

.inbox .inbox-contacts > li > a .contact-pic {
    width: 30px;
    height: 30px;
    border-radius: 50% !important
}

.inbox .inbox-contacts > li > a .contact-status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    right: 38px;
    top: 30px
}

.inbox .input-actions .btn {
    margin-right: 10px
}

.inbox .inbox-view-info {
    color: #666;
    padding: 5px 0;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee
}

.inbox .inbox-view-info .inbox-author {
    border-radius: 50% !important;
    margin-left: 10px
}

.inbox .inbox-view-info .inbox-info-btn .btn-group {
    float: left;
    margin-top: 5px
}

.inbox .inbox-body, .inbox .inbox-sidebar {
    padding: 20px;
    border: 1px solid #e7ecf1;
    border-radius: 4px
}

.page-container-bg-solid .inbox .inbox-body, .page-container-bg-solid .inbox .inbox-sidebar {
    background: #fff;
    border: 0
}

.inbox .inbox {
    margin-bottom: 0
}

.inbox .tab-content {
    overflow: inherit
}

.inbox .inbox-loading {
    display: none;
    font-size: 22px;
    font-weight: 300
}

.inbox .inbox-header {
    overflow: hidden
}

.inbox .inbox-header h1 {
    margin: 0 0 20px;
    color: #666
}

.inbox .pagination-control .pagination-info {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
    line-height: 14px
}

.inbox tr {
    color: #777;
    font-size: 13px
}

.inbox tr label {
    display: inline-block;
    margin-bottom: 0
}

.inbox tr.unread td {
    font-weight: 600
}

.inbox td i.icon-paper-clip {
    top: 2px;
    color: #d8e0e5;
    font-size: 17px;
    position: relative
}

.inbox tr i.icon-star, .inbox tr i.icon-trash {
    cursor: pointer
}

.inbox tr i.icon-star {
    color: #eceef0
}

.inbox tr i.icon-star:hover, .inbox tr i.inbox-started {
    color: #fd7b12
}

.inbox .table td, .inbox .table th {
    border: none
}

.inbox .table th {
    background: #128bc1;
    border-bottom: solid 5px #fff;
}

.inbox th label.inbox-select-all {
    color: #828f97;
    font-size: 13px;
    padding: 1px 4px 0
}

.inbox td.text-right {
    width: 100px;
    text-align: left
}

.inbox td.inbox-small-cells {
    width: 10px
}

.inbox .table-hover tbody tr:hover > td, .inbox .table-hover tbody tr:hover > th, .inbox .table-striped tbody > tr:nth-child(odd) > td, .inbox .table-striped tbody > tr:nth-child(odd) > th {
    background: #f8fbfd;
    cursor: pointer
}

.inbox .table-hover tbody tr:hover > td, .inbox .table-hover tbody tr:hover > th {
    background: #eef4f7
}

.inbox .inbox-drafts {
    padding: 8px 0;
    text-align: center;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee
}

.inbox-view-header {
    margin-bottom: 20px
}

.inbox-view-header h1 {
    color: #666;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0 !important
}

.inbox-view-header h1 a {
    top: -2px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 7px;
    line-height: 16px;
    position: relative;
    background: #b0bcc4;
    display: inline-block
}

.inbox-view-header h1 a:hover {
    background: #aab5bc;
    text-decoration: none
}

.inbox-view-header i.icon-print {
    color: #94a4ab;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 6px 8px !important;
    background: #edf1f4 !important
}

.inbox-view-header i.icon-print:hover {
    background: #e7ebef !important
}

.inbox-view-info strong {
    color: #666;
    margin: 0 5px 0 10px
}

.inbox-view {
    color: #666;
    padding: 10px 0 0
}

.inbox-view a {
    color: #169ce9
}

.inbox-attached {
    line-height: 16px
}

.inbox-attached a {
    margin: 0 2px
}

.inbox-attached img {
    height: auto;
    max-width: 250px;
    margin-bottom: 5px
}

.inbox-attached span {
    margin-left: 3px
}

.inbox-attached strong {
    color: #555;
    display: block;
    font-size: 13px
}

.inbox-attached .margin-bottom-25 {
    margin-bottom: 25px
}

.inbox-attached .margin-bottom-15 {
    margin-bottom: 15px
}

.inbox-compose {
    margin-top: 1px;
    border: 1px solid #eee
}

.inbox-compose-btn {
    padding: 12px;
    background: #f0f6fa
}

.inbox-compose-attachment {
    padding: 8px
}

.inbox-compose-attachment .btn {
    padding: 4px 10px
}

.inbox-compose .inbox-form-group {
    margin-bottom: 0;
    position: relative;
    border-bottom: solid 1px #eee
}

.inbox-compose .controls {
    margin-right: 85px
}

.inbox-compose .inbox-form-group > label {
    width: 80px;
    float: right;
    color: #979797;
    text-align: left
}

.inbox-compose .controls > input {
    border: none !important
}

.inbox-compose .controls-to {
    padding-left: 55px
}

.inbox-compose .controls-bcc, .inbox-compose .controls-cc {
    padding-left: 20px
}

.inbox-compose .inbox-form-group a.close {
    top: 13px;
    left: 10px;
    position: absolute
}

.inbox-compose .mail-to .inbox-cc-bcc {
    display: inline-block;
    top: 7px;
    left: 10px;
    color: #979797;
    font-size: 14px;
    cursor: pointer;
    position: absolute
}

.inbox-compose .mail-to .inbox-bcc {
    margin-right: 5px
}

.inbox-compose .mail-to inbox-bcc:hover, .inbox-compose .mail-to inbox-cc:hover {
    color: #777
}

.inbox-compose .wysihtml5 {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important
}

.inbox-compose .wysihtml5-sandbox {
    padding: 0 !important;
    margin: 5px 0 0 !important;
    display: block !important;
    border: 0 !important;
    width: 100% !important;
    border-right: none;
    border-left: none
}

.inbox-compose .wysihtml5-toolbar {
    border: 0;
    border-bottom: 1px solid #eee
}

.inbox-compose .wysihtml5-toolbar > li {
    height: 34px;
    margin-left: 0;
    margin-bottom: 0
}

.inbox-compose .wysihtml5-toolbar > li > a, .inbox-compose .wysihtml5-toolbar > li > div > a {
    background: #fff !important;
    border-color: #fff !important
}

.inbox-compose .wysihtml5-toolbar > li > a:hover, .inbox-compose .wysihtml5-toolbar > li > div > a:hover {
    background: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    border-radius: 0
}

.inbox-compose .wysihtml5-toolbar .dropdown.open .dropdown-toggle, ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background: #eee !important
}

@media (max-width: 480px) {
    .inbox-compose .inbox-form-group > label {
        margin-top: 7px
    }
}

/**************************************/
.todo-content, .todo-task-history > li > .todo-task-history-desc {
    overflow: hidden
}

.todo-sidebar {
    float: right;
    width: 230px;
    margin-left: 20px
}

.todo-tasklist-item-border-green {
    border-right: #3faba4 2px solid
}

.todo-tasklist-item-border-blue {
    border-right: #4c87b9 2px solid
}

.todo-tasklist-item-border-purple {
    border-right: #8877a9 2px solid
}

.todo-tasklist-item-border-red {
    border-right: #d05454 2px solid
}

.todo-tasklist-item-border-yellow {
    border-right: #d4ad38 2px solid
}

.padding-top-10px {
    padding-top: 15px
}

.todo-userpic {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 1px solid #cedae1
}

.todo-text-color {
    color: #45535b
}

.todo-projects-config {
    padding: 6px 9px 3px !important
}

.todo-projects-config > i {
    font-size: 14px !important
}

.todo-tasklist {
    padding: 0
}

.todo-project-list ul li a {
    font-size: 14px !important;
    padding: 8px 10px
}

.todo-project-list .nav li a .badge {
    float: left;
    margin-top: 1px !important
}

.todo-project-list .nav > li.active > a {
    color: #3f444a;
    background-color: #f1f4f7 !important
}

.todo-task-history {
    padding: 0;
    margin: 0
}

.todo-task-history > li {
    padding: 5px 0
}

.todo-task-history > li > .todo-task-history-date {
    font-size: 12px;
    float: left;
    width: 150px;
    margin-right: 10px;
    text-align: left;
    color: #999
}

.todo-tasklist-item {
    background: #f6fbfc;
    padding: 10px;
    margin-bottom: 15px;
    overflow: hidden
}

.todo-tasklist-item:last-child {
    margin-bottom: 0
}

div .todo-tasklist-item:hover {
    cursor: pointer;
    background-color: #edf7f9
}

.todo-tasklist-item img {
    margin: 0 0 10px 10px
}

.todo-tasklist-item-title {
    font-size: 15px;
    color: #2b4a5c;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 13px
}

.todo-tasklist-item-text {
    font-size: 13px;
    color: #577688;
    padding-bottom: 5px
}

.todo-tasklist-item ul {
    margin: 5px 0 0
}

.todo-tasklist-item li {
    color: #577688;
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 0 !important
}

.todo-tasklist-item li i {
    color: #b3bfcb;
    font-size: 15px
}

.todo-tasklist-controls {
    margin-top: 5px
}

.todo-tasklist-date {
    color: #637b89 !important;
    margin-left: 12px
}

.todo-tasklist-date i {
    color: #abbfca !important;
    margin-left: 5px
}

.todo-taskbody-tasktitle {
    font-size: 18px;
    color: #778d96
}

.todo-taskbody-taskdesc {
    font-size: 14px;
    color: #778d96
}

.todo-username {
    font-size: 16px;
    color: #2b4a5c;
    font-weight: 600;
    padding: 15px 15px 0 0
}

.todo-comment-head {
    padding-top: 3px
}

.todo-comment {
    position: relative
}

.todo-comment:hover > .todo-comment-btn {
    display: block
}

.todo-comment-btn {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 12px;
    color: #566e7c;
    border-color: #a2aeb5
}

.todo-comment-btn:hover {
    color: #fff;
    background-color: #a1b6c2;
    border-color: #a1b6c2
}

.todo-comment-username {
    font-size: 14px;
    color: #2b4a5c;
    font-weight: 600
}

.todo-comment-date {
    font-size: 12px;
    color: #2b4a5c;
    font-weight: 400
}

.todo-username-btn {
    margin: 14px 15px 0 0;
    color: #566e7c;
    border-color: #a2aeb5
}

.todo-username-btn:hover {
    color: #fff;
    background-color: #a1b6c2;
    border-color: #a1b6c2
}

.form .form-actions.todo-form-actions {
    padding-top: 10px;
    border: 0;
    margin: 0 0 20px
}

@media (max-width: 991px) {
    .todo-sidebar {
        float: none;
        width: 100%;
        margin: 0
    }

    .todo-sidebar > .portlet {
        margin-bottom: 20px
    }

    .todo-sidebar > .portlet .portlet-title .tools {
        margin-right: 5px
    }

    .todo-content {
        overflow: visible
    }
}

.todo-tasklist-devider {
    display: none
}

@media (max-width: 767px) {
    .todo-tasklist-devider {
        display: block;
        height: 20px;
        margin: 20px -10px;
        background: #F1F3FA
    }

    .todo-task-history > li {
        padding: 9px 0
    }

    .todo-task-history > li > .todo-task-history-date {
        width: 100px;
        font-size: 11px
    }
}

/*****************************************************/

.portlet.light.bordered {
    border: 1px solid #e7ecf1 !important;
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}

.portlet.bordered {
    border-right: 2px solid #e6e9ec !important;
}

.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}

.dashboard-stat, .portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.font-red {
    color: #e7505a !important;
}

.bold {
    font-weight: 700 !important;
}

.portlet.light > .portlet-title > .caption > .caption-subject, .caption-subject {
    font-size: 16px;
}

.font-green-sharp {
    color: #2ab4c0 !important;
}

.inbox .inbox-nav > li > a .badge {
    float: left;
    margin-top: 1px;
}

.badge {
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    color: #fff;
    padding: 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
}

.badge, .input-inline {
    vertical-align: middle;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    background-color: #6c8dae;
    border-radius: 10px;
}

.badge, .label {
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    text-align: center;
}

.badge-primary {
    background-color: #337ab7;
}

.badge-warning {
    background-color: #F1C40F;
}

.badge-danger {
    background-color: #ed6b75;
}

.badge-success {
    background-color: #36c6d3;
}

.badge-default, .label-default {
    background-color: #bac3d0;
}

.todo-taskbody-user .caption-helper {
    display: block;
    margin-right: 15px;
    margin-top: 6px;
    color: #999;
    font-size: 13px;
}

#taskdet_MK.task-details {
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: 0px 0px 5px #eee;
}

.pull-right {
    float: right !important;
    margin: 0 10px;
}

#task_list_hr_mk {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.todo-tasklist-date {

}

.task-items {

    margin: 0px;

    padding: 0px;

    border: 1px solid #efefef;

    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 10px;
}

.task-items li {

    padding: 5px;

    line-height: 30px;

    vertical-align: middle;
}

.task-items li input {

    display: inline-block;

    margin: 0 0 0 5px;
}

.task-items li span {

    font-weight: bolder;

    color: #373738;

    font-size: 15px;
}


.dropdown-menu.actions {

    right: auto;
    left: 0;
    padding: 0;
}

.dropdown-menu>li>a {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}

.dropdown-menu .divider {
    margin: 0px 0;
}